body {
  background-image: url("images/pawel-czerwinski-prMn9KINLtI-unsplash.jpg");
  font-family: "Roboto", sans-serif;
  margin: 20px 100px;
}

header {
  color: rgb(106, 203, 241);
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
}

h3 {
  color: white;
  font-size: 1.5rem;
  padding: 5px;
}

h4 {
  color: white;
  font-size: 1.2rem;
  padding: 5px;
}

p,
li {
  font-size: 1rem;
}

.article-img {
  border: 2px solid rgb(11, 11, 35);
  border-radius: 20px;
  text-align: center;
}

.contact-img {
  margin-left: 10px;
}

.about-me {
  border-radius: 5px;
  padding: 10px;
}
.container {
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 400px;
  margin: 5px;
  padding: 10px;
}

.card-title {
  font-style: italic;
  font-weight: bold;
}

.section-background {
  background-color: #a7c9f6;
}

.tech-skill {
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}
